a {
	text-decoration: none;
}

a:visited {
	color: #888;
}

body {
  background: #293f50;
  color: #888;
  font: 400 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.timestamp {
	font-weight: 200;
}

.new-tweets-btn,
.home-btn {
	color: #648880;
	font: inherit;
}

.mracus, .sharksforcheap, .shawndrost, .douglascalhoun {
	color: #a9b2b9;
	font-size: 18px;
}
