a {
	text-decoration: none;
}

body {
  background: #293f50;
  color: #888;
  font: 400 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.timestamp {
	font-weight: 200;
}

.new-tweets-btn,
.home-btn {
	color: #648880;
	font: inherit;
}
